.homeMain {
	height: 100vh;
}

.homeMain > :nth-child(even):not(:first-child):not(:last-child) {
	background-color: #f4f4f4;
}

.homeMain > :nth-child(odd):not(:last-child):not(:first-child) {
	background-color: white;
}
